<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=pro.savant.circumflex"/>
        <listEntry value="archetypeArtifactId=webapp-archetype"/>
        <listEntry value="archetypeVersion=3.0-RC1"/>
        <listEntry value="groupId=com.learning"/>
        <listEntry value="artifactId=databaseconnectivity"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.learning.databaseconnectivity"/>
        <listEntry value="outputDirectory=E:\Sriram's Learning\Jsp and Servlet"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\srira\AppData\Local\Temp\m2e-archetypeGenerator13451576418556889146"/>
</launchConfiguration>
